<footer class="foot" style="color: #FFAC1C;">
  <span class="foot__copy">&copy; 2024 {{ site:author | escape}}
    <ul class="foot__list">
      <li><a style="color: #FFAC1C;" class="footer__link" href="https://github.com/sltajay" target="_blank">GitHub</a></li>
      <li><a style="color: #FFAC1C;" class="footer__link" href="https://www.linkedin.com/in/sltajay/" target="_blank">LinkedIn</a></li>
      <li><a style="color: #FFAC1C;" class="footer__link" href="https://www.twitter.com/astklhiy/" target="_blank">Twitter</a></li>
    </ul>
  </span>

  <ul class="foot__list">
    <span class="foot__copy">
      <li>Hello from India.</li>
      <li>{{ site.time | date: '%B %Y'}}</li>
    </span>
  </ul>


</footer>

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>